.profile-wrapper .course-info > .chapters {
  border-top: 0;
}

.upgrade-button .btn {
  background-image: none;
  background-color: #009b00;
  border-color: #009b00;
  color: white;
  outline: none;
  text-align: center;
  transition: background-color 0.5s;
  display: inline-block;
  font-weight: 900;
}

.upgrade-button .btn:visited {
  color: white;
}

.upgrade-button .btn:hover {
  background-color: #027902;
  background-image: none;
  border-color: #027902;
  box-shadow: none;
  color: white;
}

.verification-hero-wrapper {
  background: azure;
  margin: 1em !important;
  line-height: normal;
  position: relative;
}

.verification-hero-toggle {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
}

.discussion-body .verification-hero .copy-and-button {
  font-size: 85%;
}

.discussion-body .verification-hero .copy-and-button .btn {
  font-size: 100%;
}

.discussion-body .verification-hero .copy ul {
  padding-bottom: 20px;
}

.verification-hero .copy-and-button {
  width: 50%;
  color: black;
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.verification-hero .copy .title {
  font-weight: bold;
  text-indent: 20px;
  color: black;
}

.verification-hero .copy ul {
  line-height: 2;
}

.verification-hero .certificate-image {
  padding: .5em;
  width: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.verification-hero .certificate-image img {
  width: 80%;
}

.profile-wrapper .verification-hero .certificate-image img {
  width: 65%;
}

.verification-hero .copy-and-button .upgrade-button {
  padding-left: 1.2em;
}

.verification-sidekick {
  padding: 0.5em;
  display: table;
  width: 100%;
}

.verification-sidekick .certificate-image,
.verification-sidekick .title,
.verification-sidekick .upgrade-button {
  display: table-cell;
  vertical-align: middle;
  margin-right: 2em;
}

.verification-sidekick .certificate-image {
  width: 15%;
}

.verification-sidekick .upgrade-button {
  width: 25%;
  text-align: right;
}

.verification-sidekick .title {
  width: 50%;
  font-size: 1.35em;
  font-weight: 400;
  color: black;
  text-align: center;
}

.verification-sidekick .certificate-image img {
  width: 100px;
  height: 72px;
}

/* FOR SOCK */

.verification-sock {
  background: azure;

  /* floater footer that stays fixed on the bottom of the page. */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  /* lms home page has a different line-height than the other pages, this normalizes it*/
  line-height: normal;

  /* to center the inner contents */
  width: 100%;
  text-align: center;

  /* a little padding */
  padding-top: 7px;
  padding-bottom: 2px;
}

.verification-sock-inner {
  /* to center the inner contents */
  display: inline-block;
}

.verification-sock .copy {
  width: 50%;
  color: black;
  display: table-cell;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top;
}

.verification-sock .copy .title {
  font-size: 16px;
  font-weight: 600;
  text-indent: 20px;
  color: black;
  margin: 0;
}

.verification-sock .copy .title h2 {
  margin-bottom: 0;
  color: black;
}

.verification-sock .certificate-image {
  width: 50%;
  display: table-cell;
}

.verification-sock .certificate-image img {
  height: 68px;
}

.verification-sock .upgrade-button {
  padding-top: .7em;
  text-align: center;
}

.verification-sock .upgrade-button .btn {
  padding: .3em;
  font-size: 14px;
}

#footer-edx-v3 {
  /* to leave room for the floating footer. */
  margin-bottom: 82px;
}

.wrapper-footer footer#footer-openedx {
  /* to leave room for the floating footer. */
  margin-bottom: 82px;
}
