.profile-wrapper .course-info>.chapters {
    border-top: 0;
}

.upgrade-button .btn {
  background-image: none;
  background-color: #009b00;
  border-color: #009b00;
  color: white;
  outline: none;
  text-align: center;
  transition: background-color 0.5s;
  display: inline-block;
  font-weight: 900;
}
.upgrade-button .btn:hover {
  background-color: #027902;
  background-image: none;
  border-color: #027902;
  box-shadow: none;
}

.verification-hero {
  background: azure;
  margin: 1em;
}
.verification-hero .copy-and-button {
  width: 50%;
  color: black;
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
.verification-hero .copy .title {
  font-size: 20px;
  font-weight: bold;
  text-indent: 20px;
}
.verification-hero .copy ul {
  line-height: 2;
}
.verification-hero .certificate-image {
  padding: .5em;
  width: 50%;
  display: table-cell;
  text-align: center;
}
.verification-hero .certificate-image img {
  width: 337px;
  height: 225px;
}
.verification-hero .copy-and-button .upgrade-button {
  padding-bottom: .5em;
  padding-left: 1.2em;
}



/* FOR SOCK */
.upgrade-button .btn {
  background-image: none;
  background-color: #009b00;
  border-color: #009b00;
  color: white;
  outline: none;
  text-align: center;
  transition: background-color 0.5s;
  display: inline-block;
  font-weight: 900;
}
.upgrade-button .btn:hover {
  background-color: #027902;
  background-image: none;
  border-color: #027902;
  box-shadow: none;
}

.verification-sock {
  background: azure;

  /* floater footer that stays fixed on the bottom of the page. */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  /* to center the inner contents */
  width: 100%;
  text-align: center;
}
.verification-sock-contents {
  /* to allow centering of the inner contents */
  display: inline-block;
}
.verification-sock .copy {
  width: 50%;
  color: black;
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
.verification-sock .copy .title {
  font-size: 20px;
  font-weight: 600;
  text-indent: 20px;
}
.verification-sock .copy ul {
  line-height: 2;
}
.verification-sock .certificate-image {
  width: 50%;
  display: table-cell;
}
.verification-sock .certificate-image img {
  width: 130px;
  height: 94px;
}
.verification-sock .upgrade-button {
  padding-top: .7em;
  text-align: center;
}
.verification-sock .upgrade-button .btn {
  padding: .3em;
}

.wrapper-footer footer#footer-openedx {
  /* to leave room for the floating footer. */
  margin-bottom: 94px;
}