.help-tab {
    @include transform(rotate(-90deg));
    @include transform-origin(0 0);
    z-index: z-index(front);
    top: 250px;
    left: 0;
    position: fixed;

    a:link,
    a:visited {
        cursor: pointer;
        border: 1px solid $lms-border-color;
        border-top-style: none;
        border-radius: 0 0 ($baseline/2) ($baseline/2);
        background: $white;
        color: palette(grayscale, base);
        font-weight: bold;
        text-decoration: none;
        padding: 6px 22px 11px;
        display: inline-block;

        &:hover,
        &:focus {
            color: $white;
            background: palette(primary, base);
        }
    }
}

.help-link-button, #return_to_main_help {
    cursor: pointer;
}

#return_to_main_help:hover {
    font-weight: bold;
}

#feedback_form {
    input,
    textarea {
        font: {
            size: font-size(base);
            family: $font-family-sans-serif;
        }
        line-height: 1.4;
    }

    textarea[name="details"] {
        height: 150px;
    }
}

#feedback_success_wrapper {
    p {
        padding: 0 $baseline $baseline;
    }
}
