.help-link-button, #return_to_main_help {
    cursor: pointer;
}

#return_to_main_help:hover {
    font-weight: bold;
}

#feedback_form {
    input,
    textarea {
        font: {
            size: font-size(base);
            family: $font-family-sans-serif;
        }
        line-height: 1.4;
    }

    textarea[name="details"] {
        height: 150px;
    }
}

#feedback_success_wrapper {
    p {
        padding: 0 $baseline $baseline;
    }
}
